version: '3'

networks:
  bot_wilcorrea_rocks: # don't change
    driver: bridge

services:
  bot_wilcorrea_rocks: # don't change
    container_name: bot_wilcorrea_rocks # don't change
    networks:
      - bot_wilcorrea_rocks # don't change
    image: richarvey/nginx-php-fpm:latest
    restart: always
    volumes:
      - .:/var/www
      - ./.docker/etc/php/7.0/mods-available/xdebug.ini:/etc/php/7.0/mods-available/xdebug.ini
      - ./.docker/etc/nginx/sites-enabled/default.conf:/etc/nginx/sites-enabled/default.conf

    ports:
      - "8080:80"
    expose:
      - "9090"
    environment:
      XDEBUG_ENABLED: 1
      # export XDEBUG_REMOTE_HOST=$(ifconfig wlan0 | grep 'inet addr:' | cut -d: -f2 | awk '{ print $1}')
      XDEBUG_CONFIG: remote_host=${XDEBUG_REMOTE_HOST}
