# v2 syntax
version: '2'
services:
  bot:
    image: ambientum/php:7.0-apache
    container_name: bot
    volumes:
      - .:/var/www/app
      - ./.docker/php/etc/php/7.0/mods-available/xdebug.ini:/etc/php/7.0/mods-available/xdebug.ini
    ports:
      - "8080:8080"
    expose:
      - "9090"
    environment:
      XDEBUG_ENABLED: 1
      # export XDEBUG_REMOTE_HOST=$(ifconfig wlan0 | grep 'inet addr:' | cut -d: -f2 | awk '{ print $1}')
      XDEBUG_CONFIG: remote_host=${XDEBUG_REMOTE_HOST}
